files:
  /opt/custom_ssl/active_condition.sh:
    mode: "000755"
    content: |
      #!/bin/bash
      [[
        -n $(/opt/elasticbeanstalk/bin/get-config environment -k CUSTOM_SSL_DOMAINS) &&
        -n $(/opt/elasticbeanstalk/bin/get-config environment -k CUSTOM_SSL_EMAIL)
      ]];

  /opt/custom_ssl/process_new_certs.sh:
    mode: "000755"
    content: |
      #!/bin/bash
      set -xe

      CUSTOM_SSL_DOMAINS=$(/opt/elasticbeanstalk/bin/get-config environment -k CUSTOM_SSL_DOMAINS)
      domain="$( cut -d ',' -f 1 <<< "${CUSTOM_SSL_DOMAINS}" )";
      if [[ -d /etc/letsencrypt/live ]]; then
        domain_folder_name="$(ls /etc/letsencrypt/live | sort -n | grep $domain | head -1)";
        if [[ -d /etc/letsencrypt/live/${domain_folder_name} ]]; then
          ln -sfn /etc/letsencrypt/live/${domain_folder_name} /etc/letsencrypt/live/ebcert;
        fi
      fi

  /opt/custom_ssl/certbot_renew_cron:
    mode: "000744"
    content: |
      MAILTO=$(/opt/elasticbeanstalk/bin/get-config environment -k CUSTOM_SSL_EMAIL)
      35 2 * * * root /root/.local/bin/certbot renew --quiet --deploy-hook "/opt/custom_ssl/process_new_certs.sh"

  /opt/elasticbeanstalk/hooks/configdeploy/enact/39inject_ssl_configuration.sh:
    mode: "000755"
    content: |
      #!/bin/bash
      set -xe

      EB_CONFIG_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k config_staging_dir);
      STAGED_PROXY_CONF_FILENAME=#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf;
      if /opt/custom_ssl/active_condition.sh; then
        STAGED_PROXY_CONF="${EB_CONFIG_STAGING_DIR}/${STAGED_PROXY_CONF_FILENAME}";
        cp $STAGED_PROXY_CONF /opt/custom_ssl/nginx/;
        grep -Fxq "include /opt/custom_ssl/nginx/http-01.conf;" $STAGED_PROXY_CONF || sed -i '/location \/ {/i include /opt/custom_ssl/nginx/http-01.conf;' $STAGED_PROXY_CONF;
      else
        [[ -e  "/opt/custom_ssl/nginx/${STAGED_PROXY_CONF_FILENAME}" ]] && cp "/opt/custom_ssl/nginx/${STAGED_PROXY_CONF_FILENAME}" $EB_CONFIG_STAGING_DIR/;
      fi

  /opt/elasticbeanstalk/hooks/configdeploy/post/01certbot_initiate.sh:
    mode: "000755"
    content: |
      #!/bin/bash
      set -xe

      if /opt/custom_ssl/active_condition.sh; then
        mkdir -p /var/www/letsencrypt;
        CUSTOM_SSL_DOMAINS=$(/opt/elasticbeanstalk/bin/get-config environment -k CUSTOM_SSL_DOMAINS);
        CUSTOM_SSL_EMAIL=$(/opt/elasticbeanstalk/bin/get-config environment -k CUSTOM_SSL_EMAIL);
        /root/.local/bin/certbot certonly \
          --webroot --webroot-path /var/www/letsencrypt \
          --domains "$CUSTOM_SSL_DOMAINS" \
          --email "$CUSTOM_SSL_EMAIL" \
          --non-interactive \
          --agree-tos \
          --keep-until-expiring \
          --deploy-hook "/opt/custom_ssl/process_new_certs.sh";
        cp /opt/custom_ssl/certbot_renew_cron /etc/cron.d/certbot_renew;
        cp /opt/custom_ssl/nginx/https.conf /etc/nginx/conf.d/;
        service nginx reload;
      else
        rm -f /etc/nginx/conf.d/https.conf;
        rm -f /etc/cron.d/certbot_renew;
        service nginx reload;
      fi
