files:
  /opt/elasticbeanstalk/hooks/preinit/21additional_packages.sh:
    mode: "000755"
    content: |
        #!/bin/bash
        set -xe

        if [[ ! -e /root/.local/bin/certbot ]]; then
          yum install -y python36
          wget https://bootstrap.pypa.io/get-pip.py -O - | python3 - --user
          /root/.local/bin/pip3 install --user certbot
        fi

  /opt/elasticbeanstalk/hooks/configdeploy/pre/21additional_packages.sh:
    mode: "000755"
    content: |
        #!/bin/bash
        set -xe

        if [[ ! -e /root/.local/bin/certbot ]]; then
          yum install -y python36
          wget https://bootstrap.pypa.io/get-pip.py -O - | python3 - --user
          /root/.local/bin/pip3 install --user certbot
        fi
